In [2]:
import pandas as pd

In [25]:
#load all cgm data
cgm_data_IOBP2 = pd.read_csv('data/raw/IOBP2 RCT Public Dataset/Data Tables/IOBP2DeviceiLet.txt', sep='|')
cgm_data_DCLP3 = pd.read_csv('data/raw/DCLP3 Public Dataset - Release 3 - 2022-08-04/Data Files/Pump_CGMGlucoseValue.txt', sep='|')
cgm_data_DCLP5 = pd.read_csv('data/raw/DCLP5_Dataset_2022-01-20-5e0f3b16-c890-4ace-9e3b-531f3687cf53/DCLP5TandemCGMDATAGXB_b.txt', sep='|')
cgm_data_PEDAP = pd.read_csv('data/raw/PEDAP Public Dataset - Release 3 - 2024-09-25/Data Files/PEDAPTandemCGMDATAGXB.txt', sep='|')

/var/folders/py/m13sh6xd7c5cd834pmxqyqm80000gn/T/ipykernel_36800/3157544414.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  cgm_data_DCLP3 = pd.read_csv('data/raw/DCLP3 Public Dataset - Release 3 - 2022-08-04/Data Files/Pump_CGMGlucoseValue.txt', sep='|')
/var/folders/py/m13sh6xd7c5cd834pmxqyqm80000gn/T/ipykernel_36800/3157544414.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  cgm_data_DCLP5 = pd.read_csv('data/raw/DCLP5_Dataset_2022-01-20-5e0f3b16-c890-4ace-9e3b-531f3687cf53/DCLP5TandemCGMDATAGXB_b.txt', sep='|')

In [30]:
#print all unique cgm values outside of the normal range of 40 - 400 for each study
print('IOBP2')
print(cgm_data_IOBP2[(cgm_data_IOBP2['CGMVal'] < 40) | (cgm_data_IOBP2['CGMVal'] > 400)]['CGMVal'].unique())
print('DCLP3')
print(cgm_data_DCLP3[(cgm_data_DCLP3['CGMValue'] < 40) | (cgm_data_DCLP3['CGMValue'] > 400)]['CGMValue'].unique())
print('DCLP5')
print(cgm_data_DCLP5[(cgm_data_DCLP5['CGMValue'] < 40) | (cgm_data_DCLP5['CGMValue'] > 400)]['CGMValue'].unique())
print('PEDAP')
print(cgm_data_PEDAP[(cgm_data_PEDAP['CGMValue'] < 40) | (cgm_data_PEDAP['CGMValue'] > 400)]['CGMValue'].unique())

IOBP2
[ 39. 401.]
DCLP3
[0]
DCLP5
[0]
PEDAP
[0]

In [39]:
cgm_data_DCLP3[4122:4142]

,PtID,RecID,DataDtTm,CGMValue,HighLowIndicator,DataDtTm_adjusted
4122,29,4123,2017-10-05 10:08:26,242,0,NaN
4123,29,4124,2017-10-05 10:13:26,245,0,NaN
4124,29,4125,2017-10-05 10:18:26,251,0,NaN
4125,29,4126,2017-10-05 17:27:07,85,0,NaN
4126,29,4127,2017-10-05 17:32:07,81,0,NaN
4127,29,4128,2017-10-05 17:37:07,67,0,NaN
4128,29,4129,2017-10-05 17:42:07,61,0,NaN
4129,29,4130,2017-10-05 17:47:07,72,0,NaN
4130,29,4131,2017-10-05 17:52:07,71,0,NaN
4131,29,4132,2017-10-05 17:57:07,47,0,NaN
4132,29,4133,2017-10-05 18:02:07,0,2,NaN
4133,29,4134,2017-10-05 18:07:08,52,0,NaN
4134,29,4135,2017-10-05 18:12:07,56,0,NaN
4135,29,4139,2017-10-05 21:22:07,144,0,NaN
4136,29,4140,2017-10-05 21:27:07,148,0,NaN
4137,29,4141,2017-10-05 21:32:07,159,0,NaN
4138,29,4142,2017-10-05 21:37:07,167,0,NaN
4139,32,4143,2017-11-14 17:36:07,98,0,NaN
4140,32,4144,2017-11-14 17:26:08,70,0,NaN
4141,32,4145,2017-11-14 17:31:08,68,0,NaN

In [42]:
cgm_data_DCLP5[39:59]

,PtID,RecID,DataDtTm,CGMValue,HighLowIndicator,DataDtTm_adjusted
39,26,40,4/19/2019 4:37:50 PM,341,0,NaN
40,26,41,4/19/2019 4:42:50 PM,340,0,NaN
41,26,42,4/19/2019 4:47:50 PM,343,0,NaN
42,26,43,4/19/2019 4:52:50 PM,341,0,NaN
43,26,44,4/19/2019 4:57:50 PM,352,0,NaN
44,26,45,4/19/2019 5:02:50 PM,360,0,NaN
45,26,46,4/19/2019 5:07:50 PM,364,0,NaN
46,26,47,4/19/2019 5:12:50 PM,371,0,NaN
47,26,48,4/19/2019 5:17:50 PM,384,0,NaN
48,26,49,4/19/2019 5:22:50 PM,392,0,NaN
49,26,50,4/19/2019 5:27:50 PM,0,1,NaN
50,26,51,4/19/2019 5:32:50 PM,0,1,NaN
51,26,52,4/19/2019 5:37:50 PM,0,1,NaN
52,26,53,4/19/2019 5:42:50 PM,0,1,NaN
53,26,54,4/19/2019 5:47:50 PM,0,1,NaN
54,26,55,4/19/2019 5:52:50 PM,0,1,NaN
55,26,56,4/19/2019 5:57:50 PM,0,1,NaN
56,26,57,4/19/2019 6:02:50 PM,0,1,NaN
57,26,58,4/19/2019 6:07:50 PM,0,1,NaN
58,26,59,4/19/2019 6:12:50 PM,0,1,NaN

In [45]:
cgm_data_PEDAP[4319:4339]

      PtID  RecID           DeviceDtTm  CGMValue  HighLowIndicator
4319   103   4320  6/9/2020 6:52:00 PM       134                 0
4320   103   4321  6/9/2020 6:57:00 PM       139                 0
4321   103   4322  6/9/2020 7:02:00 PM       144                 0
4322   103   4323  6/9/2020 7:07:00 PM       152                 0
4323   103   4324  6/9/2020 7:12:00 PM       159                 0
4324   103   4325  6/9/2020 7:17:00 PM       164                 0
4325   103   4326  6/9/2020 7:22:00 PM       135                 0
4326   103   4327  6/9/2020 7:27:00 PM       128                 0
4327   103   4328  6/9/2020 7:32:00 PM        96                 0
4328   103   4329  6/9/2020 7:37:00 PM        60                 0
4329   103   4330  6/9/2020 7:42:00 PM         0                 2
4330   103   4331  6/9/2020 7:46:59 PM         0                 2
4331   103   4332  6/9/2020 7:52:01 PM         0                 2
4332   103   4333  6/9/2020 7:57:00 PM        51                 0
4333   103   4334  6/9/2020 8:02:00 PM        73                 0
4334   103   4335  6/9/2020 8:07:00 PM        72                 0
4335   103   4336  6/9/2020 8:11:59 PM        85                 0
4336   103   4337  6/9/2020 8:17:00 PM        89                 0
4337   103   4338  6/9/2020 8:22:00 PM        87                 0
4338   103   4339  6/9/2020 8:26:59 PM        81                 0